@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@400;600&family=Quicksand:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

aside::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    display: block;
}

body {
    margin: 0;
    font-family: 'Nunito', 'Arial', 'Helvetica', sans-serif;
}

.page-container {
    background: linear-gradient(to bottom, rgba(210, 210, 210, 0.825), rgba(208, 208, 208, 0.870)), url('../images/scoala-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 30% 70%;
    min-height: 100vh;
    padding: 80px 0px;
}

main {
    margin: 10px 10% 100px 225px;
    padding: 0px 25px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #7aaca6;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;
    z-index: 1;
}

nav {
    margin-left: 20px;
    overflow: auto;
}

nav a {
    margin-right: 2%;
    color: white;
    font-size: 23px;
    text-decoration: none;
    font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
}

nav a:hover {
    color: #ffcf91;
    text-decoration: underline 1px;
}

/* Hamburger menu */

.header-hamburger {
    align-items: center;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*  */

/* Link acasă */

.acasa-link {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 8%;
    gap: 20px;
}

.nav-home {
    display: none;
    position: absolute;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    top: 10px;
    right: 62px;
    background: none;
    padding: 10px;
    height: 65px;
    width: 60%;
}

.nav-home a {
    display: block;
    margin-right: 0;
}

.nav-home.show {
    display: flex;
}

.home-menu {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
}

/*  */

aside {
    font-family: 'Quicksand', 'Arial', 'Helvetica', sans-serif;
    font-weight: 500;
    width: 172px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #8DC6BF, #a4e4dd);
    padding-top: 10px;
    padding-bottom: 150px;
    font-size: 22px;
    overflow-y: scroll;
}

aside a,
h5 {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
}

aside a:hover {
    text-decoration: underline 1px;
}

footer {
    font-size: 21px;
    background: #7aaca6;
    min-height: 80px;
    text-align: center;
    padding-top: 30px;
    color: white;
    width: 100%;
}

footer span:first-of-type::before {
    content: "© ";
}

hr {
    width: 100%;
}

.logo {
    margin-left: 25px;
    height: 60px;
    width: auto;
}

h1,
h2,
h3,
h4 {
     font-family: 'Poppins', 'Arial', 'Helvetica', sans-serif;
}

img {
    max-width: 100%;
}

.h2-l-bigger {
    background-color: #f97c4f3a;
    margin-left: 2%;
    display: inline;
    padding: 5px;
    font-size: 175%;
}

.h2-left {
    background-color: #f97c4f3a;
    margin-left: 2%;
    display: inline;
    padding: 5px;
}

.h-smaller {
    background-color: #b569af32;
    padding: 5px;
    display: inline-block;
}

.fon {
    background-color: #7fb3ee37;
    padding: 10px;
    display: inline-block;
}

p {
    font-size: 20px;
    background-color: #fcbb663b;
    padding: 4px;
}

li {
    font-size: 20px;
    background-color: #fcbb663b;
    padding: 4px;
}

.no-background {
    background: none !important;
}

.hr-head {
    border-top: 3px solid #584053;
}

.centered {
    text-align: center;
}

.no-decoration {
    color: black;
    text-decoration: none;
}

.mai-mult {
    color: black;
}

.mai-mult:hover {
    color: #56407F;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #7fb3ee37;
}

td {
    background-color: #f97c4f3a;
}

th,
td {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

table,
th,
td {
    border: 2px solid;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.row {
    overflow: hidden;
}

.img-istoric {
    max-height: 300px;
    max-width: 30vw;
    border: 3px solid #584053;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px black;
}

.img-director {
    max-height: 15vw;
    border: 3px solid #584053;
    box-shadow: 5px 5px 15px black;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.descriere-director {
    line-height: 33px;
}

.p-descriere-director {
    height: 100%;
}

.taxa-list {
    margin-left: 5px;
    border-left: 2px solid black;
}

.taxa-list-22px {
    margin-left: 22px;
    border-left: 2px solid black;
}

.taxa-list-63px {
    margin-left: 63px;
    border-left: 2px solid black;
}

.facebook-link {
    color: black;
    text-decoration: underline #56407F;
}

.facebook-link:hover {
    color: #56407F;
}

.contacte {
    font-size: 20px;
    border: 3px solid #584053;
    border-radius: 5px;
    background-color: #fcbb663b;
    padding: 15px 15%;
    height: 100%;
    margin-bottom: 15px;
}

.harta {
    width: 100%;
    height: 40vh;
    border: 3px solid #584053;
    border-radius: 5px;
}

.img-activitati {
    object-fit: cover;
    width: 850px;
    height: 400px;
    object-position: top;
}

.titlu-activitati {
    background-color: white;
    margin: -45px 20% 10px 20%;
    padding: 1px 24px 0 24px;
    position: relative;
}

.img-activitate {
    max-width: 80%;
}

.calendarul-artmartisor {
    max-height: 300px;
    margin-left: 30px;
    margin-top: 12px;
    position: absolute;
}

.loupe {
    position: absolute;
    margin-top: 282px;
    margin-left: 230px;
    width: 1.5%;
}

.container-parteneri {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 175px;
    margin-top: 10px;
}

.img-partener {
    margin-top: 5px;
    height: 80px;
    transition: all linear 1s;
    width: auto;
}

@media screen and (max-width: 920px) {

    /* Hamburger Menu */

    .hamburger-menu {
        display: block;
    }

    .nav-links {
        margin: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background: #7aaca6;
        border: 1px solid #ccc;
        padding: 10px;
        width: 210px;
    }

    .nav-links a {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .nav-links.show {
        display: flex;
    }

    /*  */
}
