* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

aside::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    display: block;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.page-container {
    min-height: 100vh;
    padding-top: 80px;
}

main {
    margin: 10px 10% 100px 220px;
    padding: 0px 25px;
}

header {
    height: 80px;
    background: #7aaca6;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 15px 5px 15px;
    z-index: 1;
}

navbar {
    margin-left: 75px;
    margin-bottom: 13px;
    display: inline-block;
    overflow: auto;
}

navbar a {
    margin-right: 25px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

navbar a:hover {
    color: #ffcf91;
    text-decoration: underline 1px;
}

aside {
    width: 175px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #8DC6BF, #a4e4dd);
    padding-top: 10px;
    padding-bottom: 150px;
    font-size: 25px;
    overflow-y: scroll;
}

aside a,
h5 {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
    margin-left: 6%;
    margin-right: 6%;
}

aside a:hover {
    text-decoration: underline 1px;
}

footer {
    background: #7aaca6;
    min-height: 80px;
    text-align: center;
    padding-top: 35px;
    color: white;
    width: 100%;
}

hr {
    width: 100%;
}

.logo {
    margin-left: 25px;
    height: 60px;
    width: auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
    max-width: 100%;
}

.h2-l-bigger {
    background-color: #f97c4f3a;
    margin-left: 2%;
    display: inline;
    padding: 5px;
    font-size: 175%;
}

.h2-left {
    background-color: #f97c4f3a;
    margin-left: 2%;
    display: inline;
    padding: 5px;
}

.h-smaller {
    background-color: #b569af32;
    padding: 5px;
    display: inline-block;
}

.fon {
    background-color: #7fb3ee37;
    padding: 10px;
    display: inline-block;
}

p {
    font-size: 20px;
    background-color: #fcbb663b;
    padding: 4px;
}

li {
    font-size: 20px;
    background-color: #fcbb663b;
    padding: 4px;
}

.no-background {
    background: none !important;
}

.hr-head {
    border-top: 3px solid #584053;
}

.centered {
    text-align: center;
}

.no-decoration {
    color: black;
    text-decoration: none;
}

.mai-mult {
    color: black;
}

.mai-mult:hover {
    color: #56407F;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #7fb3ee37;
}

td {
    background-color: #f97c4f3a;
}

th,
td {
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

table,
th,
td {
    border: 2px solid;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.col-9 {
    width: 90%;
}

.col-10 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.row {
    overflow: hidden;
}

.img-istoric {
    max-height: 300px;
    max-width: 30vw;
    border: 3px solid #584053;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px black;
}

.img-director {
    max-height: 15vw;
    border: 3px solid #584053;
    box-shadow: 5px 5px 15px black;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}

.descriere-director {
    line-height: 33px;
}

.p-descriere-director {
    height: 100%;
}

.taxa-list-20px {
    margin-left: 20px;
}

.taxa-list-64px {
    margin-left: 64px;
}

.facebook-link {
    color: black;
    text-decoration: underline #56407F;
}

.facebook-link:hover {
    color: #56407F;
}

.contacte {
    font-size: 20px;
    border: 3px solid #584053;
    border-radius: 5px;
    background-color: #fcbb663b;
    padding: 15px 15%;
    height: 100%;
    margin-bottom: 15px;
}

.harta {
    width: 100%;
    height: 40vh;
    border: 3px solid #584053;
    border-radius: 5px;
}

.img-activitati {
    object-fit: cover;
    width: 850px;
    height: 400px;
    object-position: top;
}

.titlu-activitati {
    background-color: white;
    margin: -45px 20% 10px 20%;
    padding: 1px 24px 0 24px;
    position: relative;
}

.img-activitate {
    max-width: 80%;
}

.calendarul-artmartisor {
    max-height: 300px;
    margin-left: 30px;
    margin-top: 12px;
    position: absolute;
}

.loupe {
    position: absolute;
    margin-top: 272px;
    margin-left: 212px;
    width: 1.5%;
}

.container-parteneri {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 175px;
    margin-top: 10px;
}

.img-partener {
    margin-top: 5px;
    height: 80px;
    transition: all linear 1s;
    width: auto;
}